html {
  font-size: 62.5%;
  line-height: 1.15; /* 1 */
}
body {
  margin: 0;
  font-family: '__Montserrat_d9370c', '__Montserrat_Fallback_d9370c';
}
:root {
  --primary-color: #ffffff;
  --secondary-color: #e8e8e8;
  --tertiary-color: #000000;
  --fourthiary-color: #0f4c93;
}
a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 3.6rem; /* Default font size for h1 */
  font-weight: 700;
  margin: 0.67rem 0;
}
h2 {
  font-size: 3.5rem; /* Default font size for h1 */
  font-weight: 700;
  margin: 0.67rem 0;
}
h3 {
  font-size: 3rem; /* Default font size for h1 */
  font-weight: 600;
  margin: 0.67rem 0;
}
h4 {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0.67rem 0;
}
h5{
  font-size: 2rem;
  font-weight: 600;
  margin: 0.67rem 0;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0.67rem 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3.8rem;
  }
  h3 {
    font-size: 3.7rem;
  }
  h4{
    font-size: 3.6rem;
  }
  h5{
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4{
    font-size: 3.5rem;
  }
  h5{
    font-size: 3rem;
  }
}

@media (min-width: 1620px) {
  h1 {
    font-size: 9.7rem;
  }
  h2 {
    font-size: 9.6rem;
  }
  h3 {
    font-size: 6rem;
  }
  h4{
    font-size: 3.6rem;
  }
  h5{
    font-size: 2.4rem;
  }
}

.padding_content {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 1.6rem;
  color: white;
}

.video_intro {
  height: 300px;
  width: 100%;
  margin:auto;
  object-fit: cover;
}
.mapa_img{
  height: 170px;
  width: 100%;
  margin: auto;
  -o-object-fit: cover;
  object-fit: contain;
}

.intro_first{
  font-size: 4rem !important;
}
.intro_second{
  font-size: 4.8rem !important;
}
.home_intro{
  min-height: 100vh;
  display: flex;
}
.imageWrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* Adjust this based on your layout */
  overflow: hidden;
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in;
}  

.bgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.padding_content p {
  font-size: 1.6rem;
}
@media (min-width: 768px) {
  .padding_content {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .video_intro{
    height: 500px;
    object-fit: contain;
    margin-bottom: 12rem;
  }
  .mapa_img{
    max-width: 1200px;
    height: 300px;
    object-fit: contain;
 
  }
  .intro_padding {
    padding-top: 5rem !important;
  }
}
@media (min-width: 1024px) {
  .padding_content {
    padding-right: 12rem;
    padding-left: 12rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

@media (min-width: 1536px) {
  .padding_content {
    padding-right: 20rem;
    padding-left: 20rem;
    padding-top: 15rem;
    padding-bottom: 15rem;
  }
  .video_intro{
    height: 800px;
    margin-bottom: 28rem;
  }
  .mapa_img{
    height: 600px;
  }
}

/*Custom */
.clickable-area {
  cursor: pointer;
}
.max-600px {
  max-width: 600px;
}
.width_100{
  width: 100%;
}

.relative {
  position: relative;
}
.text-black {
  color: black;
}
.justify-between {
  justify-content: space-between;
}
.p-margin-bottom{
  margin-bottom: 1rem;
}


@media (min-width: 768px) {
.max-80vw {
  max-width: 60vw;
}
.p-margin-bottom{
  margin-bottom: 5rem;
}
}

@media (min-width: 1600px) {
  .p-margin-bottom{
    margin-bottom: 10rem;
  }
  

}
.bg_image_wrapper,
.bg_image_dark_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Move them behind the content */
}

.bg_image,
.bg_image_dark {
  object-fit: cover;
}
/*Themes articles*/

.three_themes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
}



.themes_padding {
  background-color: var(--secondary-color);
  padding: 1.3rem;
  transition: 0.1s ease-in;
  color: var(--tertiary-color);
  margin-top: -0.5rem;
}
.themes_padding:hover {
  background-color: #d5d5d5;
}
.theme_img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  cursor: pointer;
}
.text_limit_p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* number of lines to show */
  line-clamp: 8;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
  .three_themes {
    grid-template-columns: repeat(3, 1fr);
  }
  .themes_padding {
    padding: 2rem;
  }
  .theme_img {
    height: 220px;
    transition: 0.1s ease-in;
  }
  .theme_img:hover{
    scale: 1.02;
  }
}
@media (min-width: 1660px) {
  .theme_img {
    height: 260px;
  }
  .text_limit_p {
    -webkit-line-clamp: 10;
    line-clamp: 10;
  }
}




.text_limit_h4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
.titulna_foto {
  min-height: 70vh;
  position: relative;
}

/*Buttons*/
.btn {
  border: 0;
  cursor: pointer;
  font-size: 1.36rem;
  font-weight: 600;
  margin-top: 3rem;
  outline: 0;
  padding: 0.8rem 1.6rem;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
  z-index: 2;
  position: relative;
  display: block;
  max-width: 170px;
}

.btn--primary {
  background-color: var(--fourthiary-color);
  color: var(--primary-color);
}
.btn--primary:hover {
  background: black;
  color: var(--secondary-color);
}

/*Slider news all*/
.slider_news_all {
  background-color: var(--secondary-color);
  padding: 1.6rem;
  margin-top: 1.6rem;
  color: var(--tertiary-color);
}
.arrows{
  margin-top: 5rem;
  gap: 2rem;
  display: flex;
  cursor: pointer;
}
.dots{
  gap: 1.6rem;
  display: flex;
  margin-bottom: 1.5rem;
}
.dot{
  height: 0.8rem;
  width: 0.8rem;
  background-color: black;
  opacity: 0.2;
}
.active-dot{
  opacity: 1 !important;
}
.slider_news_max{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

@media (min-width: 768px) {
.slider_news_all {
  margin-top: 10rem;
  padding: 3rem;
}
.arrows{
  margin-top: 3rem;
}
.dots{
  gap: 2rem;
 
}
}
@media (min-width: 1024px) {
  .arrows{
    margin-top: 6rem;
  }
}
@media (min-width: 1620px) {
  .slider_news_all {
    padding: 5rem;
  }
  .arrows{
    margin-top: 9.3rem;
  }
  .dot{
    height: 1rem;
    width: 1rem;
  }
  .dots{
    gap: 3rem;
    margin-bottom: 3rem;
  }
}
/*podujatie*/

.events {
  background-color: var(--secondary-color);
}
.event {
}
.event_data {
  border-left: 1px solid black;
  padding-left: 2rem;
  gap: 7rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}
.event p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.event_img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 204px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .event_img{
    width: 300px;
    padding: 2rem;
  }
  }
  @media (min-width: 1024px) {
    .event_img{
      width: 320px;
      padding: 3rem;
    }
    }
 @media (min-width: 1620px) {
      .event_img{
        width: 430px;
        padding: 4.3rem;
  }
}

/*Navbar*/
.navbar {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  color: white;
}
.navbar p, .navbar-mobile p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  color: white;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  position: relative;
  color: white;
}
.navbar-mobile p {
  text-align: left;
}
.expanded-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  z-index: 1000;
  padding: 20px;
  gap: 5rem;
}
.hamburger,
.hamburger_close {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  gap:1.6rem;
}
.languages img{
  opacity: 0.4;
}
.active{
  opacity: 1 !important;
}
@media (min-width: 768px) {
  .languages{
    gap:1rem;
  }
  .navbar {
    display: flex;
  }
  .navbar-mobile {
    display: none;
  }
}
@media (min-width: 768px) {
.languages{
  gap: 1.6rem;
}
}

/*Footer*/
.footer{
  background-color: var(--tertiary-color);
}

.footer_title{
  margin-top: 3rem;
}
.footer_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_both{
  display: inline-flex;
  gap: 1rem;
  align-items: center;
}
.footer_column {
  display: flex;
  flex-direction: column;
}
.footer_last_text{
  text-decoration: underline;
  font-size: 1.4rem !important;
}
.margin_top10{
  margin-top: 3rem;
}
@media (min-width:768px){
  .footer_title{
    margin-top: 0rem;
  }
}
@media (min-width:1024px){
  .footer p{
    max-width: 300px;
  }
.footer_content{
  display: flex;
  flex-direction: row;
}
}
@media (min-width:1600px){
  .footer p{
    max-width: fit-content;
  }
  
  .margin_top10{
    margin-top: 10rem;
  }
  
}

/*Partners*/
.partners{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.partners_title{
  margin-top: 2rem;
}
.partner_img_first{
  width: 220px;
  object-fit: contain;
}
.partner_img_second {
  width: 180px;
  object-fit: contain;
}
.partner_img_third{
  width: 66px;
  height: 73px;
  object-fit: contain;
}
.partner_img_fourth{
  width: 188px;
  height: 54px;
  object-fit: contain;
}

@media (min-width:768px){
  .partners{
    flex-direction: row;
    justify-content: space-between;

  }
  .partners_title{
    margin-top: 8rem;
  }
  .partner_img_first{
    width: 240px;
  }
  .partner_img_second {
    width: 190px;
  }
  .partner_img_third{
    width: 76px;
    height: 73px;
  }
  .partner_img_fourth{
    width: 198px;
    height: 54px;
  }
}
@media (min-width:1600px){
  .partners_title{
    margin-top: 20rem;
  }
}

/*Skupina obrazkov*/

.skupina_obrazkov{
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.6rem;
}
@media (min-width:768px){
  .skupina_obrazkov{
    grid-template-columns: repeat(3, 1fr);
  }
}

.full_width_image{
  width: 100%;
  height: 250px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.full_width_image_mapa{
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (min-width:768px){
  .full_width_image{
    min-height: 500px;
    margin-top: 5rem;
    margin-bottom: 5rem;
   
  }
  .full_width_image_mapa{
    height: 350px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    object-fit: contain;
  }
}
@media (min-width:1600px){
  .full_width_image{
    height: 800px;
    margin-top: 14rem;
    margin-bottom: 14rem;
  }
  .full_width_image_mapa{
    height: 623px;
    margin-top: 14rem;
    margin-bottom: 14rem;
  }
}

/*About project*/
.text_picture{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;

}
.theme_product_img{
  height: 200px;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


@media (min-width:768px){
  .text_picture{
    flex-direction: row;
    margin-bottom: 5rem;
  }
  .theme_product_img{
    height: 316px;
    width: 380px;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .text_picture p{
    max-width: 50%;
  }
}
@media (min-width:1600px){
  .text_picture{
    margin-bottom: 10rem;
  }
  .theme_product_img{
    height: 416px;
    width: 480px;
  }

}


/*skeleton**/

.skeleton_navbar{
  display: none;
}
.skeleton_nadpis{
  width: 85%;
}
.skeleton_text{
  width: 100%;
}
@media (min-width:768px){
.skeleton_navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
.skeleton_navbar_item{
  width: 80px;
}
.skeleton_text{
  width: 50%;
}
}
@media (min-width:1024px){

.skeleton_navbar_item{
  width: 130px;
}
}


/*Custom gallery*/

.custom-gallery-container, .custom-gallery-image {
  display: none;
}
@media (min-width:768px){
.custom-gallery-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--tertiary-color);
  opacity: 0.7;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.custom-gallery-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: flex;
  flex-direction: row;
}

.custom-gallery {
  height: 100%;
  width: 80vw;
  align-items: center;
  display: flex;
  justify-content: center;
}

.custom-gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}
.custom-gallery-close{
  position: fixed;
  top: 10px;
  right: 48px;
  cursor: pointer;
}
.arrow-space{
 margin:auto;
 padding: 1rem;
}

}